body {
	background-color:black;
	font-family:arial;
	color:white;
}

h1{
	color:grey;
	font-family:verdana;
	text-align: left;
}

.maindiv {
    background-color:white;
    color:black;
    width:600px;
    
    padding:20px;
    border-radius:25px;
}

.demo{
    background-color:white;
    color:black;
    margin-left: 100px;
}
